body {
    background-color: #d2b69c;
}


table {

    border-color: rgb(0, 0, 0);
    background-color: darkgrey;
}

th {
    color: rgb(255, 255, 255);
    background-color: rgb(45, 45, 45);
    padding: 10px;
    
}

td {

    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px;
}